/* Tu CSS va aqui */

body {
	padding: 0;
	margin: 0;
	font-family: arial;
}

.clearfix {
	display: table;
}
.clearfix:after{
	content:"";
	clear: both;
}

header {
	padding: 10px 0;
}

.logo {
	height: 40px;
	width: 20%;
}
.list-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	height: 40px;
}

.list-menu li{
	display: inline-block;
	padding-right:10px;
}

.list-menu li a{
	display: block;
	text-decoration: none;
	color: black;
	font-size: 13px;
}
/* END OF HEADER */

section {
	background: #808080;
	color: white;
}
.container{
	width: 900px;
	margin: 0 auto;
}

.firstcolumn, .secondcolumn{
	float: left;
	box-sizing: border-box;
	padding: 10px;
}

.firstcolumn {
	width: 60%;
	position: relative;
	top:50%;
	padding-right: 20px;
}

.firstcolumn h1{
	font-size: 50px;
	font-weight: bolder;
}
.firstcolumn p{
	color:#e0e0d1;
}
.secondcolumn {
	padding: 0;
	width: 40%;
	position: relative;
	top:50%;
	transform: translateY(10%);
}

.formulario {
	margin:20px;
	background: #a9a9a9;
	border-radius: 15px;
	text-align: center;
	padding: 5px 10px;
}

.formulario h4 {
	font-weight: bold;
	color:white;
	
}
.formulario input, .formulario button {
	width: 100%;
	box-sizing: border-box;
}

section button {
	width: 70px;
	height: 30px;
	color:white;
	background-color: #0099ff;
}

.subscribe{
	font-size: 15px;
}

footer {
	width: 900px;
	margin: 0 auto;
	color: #a9a9a9;
}

@media (max-width: 900px) {
	.container {
		width: 700px;
	}
}

@media (max-width: 700px) {
	.container {
		width: 100%;
	}

	.firstcolumn, .secondcolumn{
		width: 100%;
	}

	.formulario {
		margin: 0;
		
	}
}
/* END OF SECTION */
